<a href="https://colab.research.google.com/github/tushar-gi/python-prgrming-2/blob/main/tushar_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
1 


def num(x,y,z,) :
  if x == y and x == z:
    return 3
  elif x==y or x==z:
    return 2
  else:
    return 0
print(num(2,1,3))

0

In [4]:
dict = { 'Tushar': 19, 'Aditya': 5, 'Shreyash': 6 }
list = [(a, b) for a, b in dict.items()]
print(sorted(list))

[('Aditya', 5), ('Shreyash', 6), ('Tushar', 19)]

In [5]:
list = ['v','e','d','a','n','t']
a = {}

for letters in list:
  b = letters.upper()
  a.update({letters:b})
print(a)

{'v': 'V', 'e': 'E', 'd': 'D', 'a': 'A', 'n': 'N', 't': 'T'}

In [6]:
print("Enter the String: ")
str = input()

print("Enter a character: ")
char = input()

newstr = ""
for i in range(len(str)):
    if str[i]=='a' or str[i]=='e' or str[i]=='i' or str[i]=='o' or str[i]=='u':
        newstr = newstr + char
    else:
        newstr = newstr + str[i]

print("\nOriginal String:", str)
print("New String:", newstr)

Enter the String:
tushar
Enter a character:
x

Original String: tushar
New String: txshxr

In [7]:
def ascii(st):
  res=[]
  for index, c in enumerate(st):
    if index%2==0:
      res.append(c.upper())
    else:
      res.append(c.lower())
  return''.join(res)
print(ascii("Tushar"))

TuShAr

In [8]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [9]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [10]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [12]:
def convertTemp(c):
   f = (c * 1.8) + 32
   return f
    

cel = float(input('Enter temperature in Celsius: '))


fahr = convertTemp(cel)
print('%0.1f degrees Celsius is equivalent to %0.1f degrees Fahrenheit' %(cel, fahr))

Enter temperature in Celsius: 100
100.0 degrees Celsius is equivalent to 212.0 degrees Fahrenheit

In [13]:
def kilometre_1(km):  
    conversion_ratio_1= 0.621371  
    miles_1 = km * conversion_ratio_1  
    print ("The speed value of car in Miles: ", miles_1)  
km = float (input ("Please enter the speed of car in Kilometre as a unit: "))  
kilometre_1(km)

Please enter the speed of car in Kilometre as a unit: 15
The speed value of car in Miles:  9.320565